<header class="p-3 mb-3 row g-2 sticky-top header">
    <nav class="navbar navbar-expand-lg d-flex justify-content-center px-4">
        <div class="col-lg-9 d-flex justify-content-around row mb-3">
            <a href="/" class="col-lg-3 px-2 d-flex justify-content-center"><img src="/img/site-img/ELZOTANO.png" alt="logo"></a>
            <form class="d-flex col-lg-8" role="search">
                <div class="input-group ">
                    <input type="search" class="form-control rounded-start" />
                    <label for="search" id="search" class="form-label"></label>
                    <button type="submit" id="search-btn" class="btn btn-dark rounded-end"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg></button>
                </div>
            </form>
        </div>
        <div class="col-lg-3 px-3 d-flex justify-content-start align-content-center ">
            <% if (locals.userLogged) { %>
                <div class="">
                    <div class="d-flex  align-items-center  justify-content-md-end mx-3 mb-lg-2">
                        <p class="mx-3 my-auto d-none d-sm-inline"><%= user.name %> <%= user.lastName %> <p>
                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/img/users/<%= user.avatar %> " alt="mdo" width="40" height="40" class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small" style="">
                                <li><a class="dropdown-item" href="/user/user-profile">Perfil</a></li>
                                <!-- ! amdmin link -->
                                <% if (user.role === 1) { %>
                                    <li><a href="/admin/admin-panel" class="dropdown-item">Admin Panel</a></li>
                                <% } %>
                                <!-- ! amdmin link -->
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/user/logout">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <nav>
                    <div class="container-fluid rounded-2 log-bar p-2">
                        <div class="d-flex flex-wrap align-items-right justify-content-end">
                            <form action="/user/login">
                                <button type="submit" class="btn btn-dark btn-nav">ingresar</button>
                            </form>
                            <form action="/user/register" class="mx-2">
                                <button type="submit" class="btn btn-dark btn-nav">crear cuenta</button>
                            </form>

                        </div>
                    </div>
            <% } %>
        </div>
    </nav>
</header>