

<section class="container-md ">
    <h2 class="text-center">Agregar nuevo Tag</h2>
    <form action="/admin/add-new-tag" method="POST" class="col-10 m-auto">
        <label for="tag" class="form-label">Nueva categoria</label>   
        <input type="text" name="tag" id="tag" class="form-control my-2">
        <button type="submit" class="btn btn-success m-2">Agregar</button>
    </form>
</section>




